<launch>

  <group ns="checkerdetector_white" clear_params="true">
    <param name="display" type="int" value="1"/>
    <param name="rect0_size_x" type="double" value="0.05"/>
    <param name="rect0_size_y" type="double" value="0.05"/>
    <param name="board_type" value="acircle" />
    <param name="invert_color" value="false" />
    <param name="grid0_size_x" type="int" value="3"/>
    <param name="grid0_size_y" type="int" value="5"/>
    
    <param name="type0" type="string" value="data/ricebox.kinbody.xml"/>
    <node pkg="checkerboard_detector" name="checkerboard_detector" type="checkerboard_detector" respawn="false">
      <!-- <remap from="camera_info" to="/wide_stereo/left/camera_info"/> -->
      <!-- <remap from="image" to="/wide_stereo/left/image_rect"/> -->
      <remap from="camera_info" to="/camera/rgb/camera_info"/>
      <remap from="image" to="/camera/rgb/image_rect_color"/>
    </node>
    <node pkg="rostopic" type="rostopic" name="rostopic"
          args="echo ObjectDetection" />
  </group>
  <group ns="checkerdetector_black" clear_params="true">
    <param name="display" type="int" value="1"/>
    <!--param name="frame_id" type="string" value="stereo_link"/-->
    <param name="rect0_size_x" type="double" value="0.05"/>
    <param name="rect0_size_y" type="double" value="0.05"/>
    
    <param name="board_type" value="acircle" />
    <param name="invert_color" value="true" />
    <param name="grid0_size_x" type="int" value="3"/>
    <param name="grid0_size_y" type="int" value="5"/>
    
    <param name="type0" type="string" value="data/ricebox.kinbody.xml"/>
    <node pkg="checkerboard_detector" name="checkerboard_detector" type="checkerboard_detector" respawn="false">
      <!-- <remap from="camera_info" to="/wide_stereo/left/camera_info"/> -->
      <!-- <remap from="image" to="/wide_stereo/left/image_rect"/> -->
      <remap from="camera_info" to="/camera/rgb/camera_info"/>
      <remap from="image" to="/camera/rgb/image_rect_color"/>
    </node>
    <node pkg="rostopic" type="rostopic" name="rostopic"
        args="echo ObjectDetection" />
  </group>

  <!-- capture -->
  <node pkg="checkerboard_detector" type="capture_data_with_multi_checkerboard.py"
        name="capture_data_with_multi_checkerboard" output="screen">
    <remap from="~checker_pose_a" to="checkerdetector_white/objectdetection_pose" />
    <remap from="~checker_pose_b" to="checkerdetector_black/objectdetection_pose" />
  </node>
</launch> 
