<launch>

 <group ns="checkerdetector" clear_params="true">
    <param name="display" type="int" value="1"/>
    <!--param name="frame_id" type="string" value="stereo_link"/-->
    <param name="rect0_size_x" type="double" value="0.35"/>
    <param name="rect0_size_y" type="double" value="0.35"/>
    <param name="grid0_size_x" type="int" value="4"/>
    <param name="grid0_size_y" type="int" value="6"/>
    <param name="type0" type="string" value="data/ricebox.kinbody.xml"/>

    <node pkg="checkerboard_detector" name="checkerboard_detector" type="checkerboard_detector" respawn="false" output="screen">
      <remap from="camera_info" to="/wide_stereo/left/camera_info"/>
      <remap from="image" to="/wide_stereo/left/image_rect"/>
    </node>
  </group>

</launch> 
