<launch>
  <arg name="RESIZE_RATE" default="0.25" />
  <inlucde file="$(find roseus_tutorials)/launch/usb-camera.launch" />
  <node pkg="resized_image_transport" type="image_resizer" name="image_resizer"
        output="screen" >
    <remap from="~input/image" to="image_rect" />
    <remap from="~output/image" to="~image_rect" />
    <param name="resize_scale_x" value="$(arg RESIZE_RATE)" />
    <param name="resize_scale_y" value="$(arg RESIZE_RATE)" />
  </node>
  <node name="image_view2" pkg="image_view2" type="image_view2" output="screen" >
    <remap from="image" to="/image_resizer/image_rect" />
    <param name="autosize" value="true" />
  </node>
</launch>
