<launch>
  <arg name="INPUT_IMAGE" default="in_image" />
  <arg name="CAMERA_NS" default="camera" />
  <arg name="OUTPUT_IMAGE" default="out_image" />
  <arg name="RESIZE_RATE" default="0.25" />
  <arg name="NAME" default="image_resizer" />
  <group ns="$(arg CAMERA_NS)">
    <node pkg="resized_image_transport" type="image_resizer" name="$(arg NAME)"
          output="log" >
      <remap from="~input/image" to="$(arg INPUT_IMAGE)" />
      <remap from="~output/image" to="$(arg OUTPUT_IMAGE)" />
      <param name="resize_scale_x" value="$(arg RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg RESIZE_RATE)" />
    </node>
  </group>
</launch>
