#! /usr/bin/env python

PACKAGE='jsk_perception'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("degree", double_t,    0, "the size of the degree", 60, 10, 80)
gen.add("scale", double_t,    0, "the size of the output image", 0.2, 0.01, 3)
gen.add("upside_down", bool_t,    0, " upside down the image", False)
gen.add("offset_degree", double_t,    0, "offset degree for panorama view", 180, 0, 360)

exit(gen.generate(PACKAGE, "fisheye", "Fisheye"))
