#! /usr/bin/env python

PACKAGE='jsk_perception'
try:
    import imp
    imp.find_module(PACKAGE)
    from dynamic_reconfigure.parameter_generator_catkin import *
except:
    import roslib; roslib.load_manifest(PACKAGE)
    from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

gen.add("z", double_t, 0, "z distance to point", 2.0, 0.0, 10.0)

exit(gen.generate(PACKAGE, "jsk_perception", "ProjectImagePoint"))
