[submodule "jsk_perception/slic"]
	path = jsk_perception/slic
	url = https://github.com/garaemon/SLIC-Superpixels.git
[submodule ".travis"]
	path = .travis
	url = https://github.com/knorth55/jsk_travis.git
	branch = developer-error
[submodule "jsk_perception/node_scripts/deep_sort/deep_sort"]
	path = jsk_perception/node_scripts/deep_sort/deep_sort
	url = https://github.com/nwojke/deep_sort.git
