sudo: false
language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
notifications:
  email:
    on_success: always
    on_failure: always
  slack: jsk-robotics:Av7tc8wj3IWkLYvlTzHE7x2g
addons:
  apt:
    packages:
      - python-pip
env:
  - ROS_DISTRO=hydro   ROSWS=wstool BUILDER=catkin BUILD_PKGS="jsk_pcl_ros"  USE_DEB=true NOT_TEST_INSTALL=true ROS_PARALLEL_JOBS="-j6" USE_JENKINS="true" NO_SUDO="true"
  - ROS_DISTRO=indigo  ROSWS=wstool BUILDER=catkin BUILD_PKGS="jsk_pcl_ros"  USE_DEB=true NOT_TEST_INSTALL=true ROS_PARALLEL_JOBS="-j6" NO_SUDO="true"
  - ROS_DISTRO=hydro   ROSWS=wstool BUILDER=catkin BUILD_PKGS="jsk_perception checkerboard_detector resized_image_transport imagesift"  USE_DEB=true NOT_TEST_INSTALL=true ROS_PARALLEL_JOBS="-j6" USE_JENKINS="true" NO_SUDO="true"
  - ROS_DISTRO=indigo  ROSWS=wstool BUILDER=catkin BUILD_PKGS="jsk_perception checkerboard_detector resized_image_transport imagesift"  USE_DEB=true NOT_TEST_INSTALL=true ROS_PARALLEL_JOBS="-j6" NO_SUDO="true"
  - ROS_DISTRO=indigo  ROSWS=wstool BUILDER=catkin BEFORE_SCRIPT="git clone -b indigo https://github.com/ros-perception/vision_opencv.git" EXTRA_DEB="ros-indigo-opencv3" USE_DEB=true NOT_TEST_INSTALL=true ROS_PARALLEL_JOBS="-j6" NO_SUDO="true"
matrix:
script: source .travis/travis.sh
