sudo: false
language: c++
python:
  - "2.7"
compiler:
  - gcc
notifications:
  email:
    on_success: always
    on_failure: always
  slack: jsk-robotics:Av7tc8wj3IWkLYvlTzHE7x2g
env:
  global:
    - ROS_PARALLEL_JOBS="-j8"
    - CATKIN_PARALLEL_TEST_JOBS="-p1 -j1"
    - NOT_TEST_INSTALL=true
    - USE_JENKINS=true
    - USE_DEB=true
  matrix:
    - ROS_DISTRO=indigo
    - ROS_DISTRO=indigo CATKIN_TOOLS_CONFIG_OPTIONS="--install" TEST_PKGS='jsk_recognition_msgs' # to skip test
    - ROS_DISTRO=indigo ROS_REPOSITORY_PATH="http://packages.ros.org/ros/ubuntu"
    - ROS_DISTRO=indigo BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_opencv3.bash' BUILD_PKGS='checkerboard_detector imagesift jsk_perception jsk_recognition_utils resized_image_transport'
    - ROS_DISTRO=indigo BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_pcl1.8.bash' BUILD_PKGS='jsk_pcl_ros_utils jsk_pcl_ros' DOCKER_IMAGE_JENKINS='ros-indigo-pcl1.8'
    - ROS_DISTRO=kinetic
script:
  - source .travis/travis.sh
  - (cd $TRAVIS_BUILD_DIR/doc && source setup.sh && make html)
after_success:
  # trigger build of jsk-docs.readthedocs.org
  - curl -X POST -d "branches=master" -d "token=da477cb4ef53d533aeb51c2b43e8baca6202baca" https://readthedocs.org/api/v2/webhook/jsk-docs/9094/
branches:
  # weaken the load on the Jenkins server
  only:
    - master
