- git:
    uri: https://github.com/sniekum/ml_classifiers.git
    local-name: sniekum/ml_classifiers
    version: ef8fd55e8ce97cbf45e16757c0efa4cdb5693bc8
- git:
    uri: https://github.com/OctoMap/octomap_mapping.git
    local-name: Octomap/octomap_server
    version: master
