sudo: false
language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
notifications:
  email:
    on_success: always
    on_failure: always
  slack: jsk-robotics:Av7tc8wj3IWkLYvlTzHE7x2g
addons:
  apt:
    packages:
      - python-pip
env:
  global:
    - ROSWS=wstool
    - BUILDER=catkin
    - ROS_PARALLEL_JOBS="-j8"
    - NOT_TEST_INSTALL=true
    - NO_SUDO=true
    - USE_JENKINS=true
  matrix:
    - ROS_DISTRO=hydro  USE_DEB=false CATKIN_TOOLS_BUILD_OPTIONS="-iv --summarize --no-status --no-color"
    - ROS_DISTRO=indigo USE_DEB=true
    - ROS_DISTRO=indigo USE_DEB=true BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_released_testing.bash' ROS_REPOSITORY_PATH="http://packages.ros.org/ros/ubuntu"
    - ROS_DISTRO=indigo USE_DEB=true BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_opencv3.bash'
    - ROS_DISTRO=indigo USE_DEB=true BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_pcl1.8.bash'
    - ROS_DISTRO=jade   USE_DEB=false
matrix:
  allow_failures:
    - env: ROS_DISTRO=indigo USE_DEB=true BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_opencv3.bash'
script:
  - source .travis/travis.sh
  - (cd doc && source setup.sh && make html)
