sudo: false
language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
notifications:
  email:
    on_success: always
    on_failure: always
  slack: jsk-robotics:Av7tc8wj3IWkLYvlTzHE7x2g
env:
  global:
    - ROS_PARALLEL_JOBS="-j8"
    - NOT_TEST_INSTALL=true
    - USE_JENKINS=true
  matrix:
    - ROS_DISTRO=hydro  USE_DEB=false CATKIN_TOOLS_BUILD_OPTIONS="-iv --summarize --no-status --no-color"
    - ROS_DISTRO=indigo USE_DEB=false NUMBER_OF_LOGS=12
    - ROS_DISTRO=indigo USE_DEB=false BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_released_testing.bash' ROS_REPOSITORY_PATH="http://packages.ros.org/ros/ubuntu" NUMBER_OF_LOGS=12
    - ROS_DISTRO=indigo USE_DEB=false BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_opencv3.bash' NUMBER_OF_LOGS=12 BUILD_PKGS='checkerboard_detector imagesift jsk_perception jsk_recognition_utils resized_image_transport'
    - ROS_DISTRO=indigo USE_DEB=false BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_pcl1.8.bash' NUMBER_OF_LOGS=12 BUILD_PKGS='jsk_pcl_ros_utils jsk_pcl_ros'
    - ROS_DISTRO=jade   USE_DEB=false
script:
  - source .travis/travis.sh
  - (cd doc && source setup.sh && make html)
