- git:
    uri: https://github.com/sniekum/ml_classifiers.git
    local-name: sniekum/ml_classifiers
    version: master
- git:
    uri: https://github.com/OctoMap/octomap_mapping.git
    local-name: Octomap/octomap_server
    version: master
