- git:
    uri: https://github.com/jsk-ros-pkg/jsk_3rdparty.git
    local-name: jsk-ros-pkg/jsk_3rdparty
    version: 2.0.11
- git:
    uri: https://github.com/wkentaro/ml_classifiers.git
    local-name: wkentaro/ml_classifiers
    version: migration-to-jade
