- git:
    uri: https://github.com/jsk-ros-pkg/jsk_3rdparty.git
    local-name: jsk-ros-pkg/jsk_3rdparty
    version: 2.0.11
- git:
    uri: https://github.com/sniekum/ml_classifiers.git
    local-name: sniekum/ml_classifiers
    version: master
- git:
    uri: https://github.com/OctoMap/octomap_mapping.git
    local-name: Octomap/octomap_server
    version: master
