#!/usr/bin/env python
PACKAGE='resized_image_transport'

try:
    import imp
    imp.find_module(PACKAGE)
    from dynamic_reconfigure.parameter_generator_catkin import *;
except: # if groovy
    import roslib; roslib.load_manifest(PACKAGE)
    from dynamic_reconfigure.parameter_generator import *;

from math import pi
from driver_base.msg import SensorLevels

gen = ParameterGenerator()

#gen.add("max_range", double_t, SensorLevels.RECONFIGURE_RUNNING,
#        "max_range corresponding to max sensor output",   5.0, 0.0, 20.0)

gen.add("resize_scale_x", double_t, SensorLevels.RECONFIGURE_RUNNING,
        "resize scale width",  0.25, 0.01, 1.0)
gen.add("resize_scale_y", double_t, SensorLevels.RECONFIGURE_RUNNING,
        "resize scale height",  0.25, 0.01, 1.0)

gen.add("msg_par_second", double_t, SensorLevels.RECONFIGURE_RUNNING,
        "number of pub image par second", 15.0, 0.01, 30)

gen.add("verbose", bool_t, SensorLevels.RECONFIGURE_RUNNING,
        "verbose output", False)
exit(gen.generate(PACKAGE, "resized_image_transport", "ImageResizer"))
