<launch>

  <node name="hsv_color_filter"
        pkg="opencv_apps" type="hsv_color_filter">
    <remap from="image" to="image_publisher/output" />
    <rosparam>
      use_camera_info: false
      h_limit_max: 360
      h_limit_min: 340
      s_limit_max: 220
      s_limit_min: 170
      v_limit_max: 130
      v_limit_min: 80
    </rosparam>
  </node>

  <node name="image_view_color_filtering"
        pkg="image_view" type="image_view">
    <remap from="image" to="hsv_color_filter/image" />
  </node>

  <node name="rqt_reconfigure"
        pkg="rqt_reconfigure" type="rqt_reconfigure"
        args="hsv_color_filter">
  </node>

</launch>
