#!/usr/bin/env python

# set up parameters that we care about
PACKAGE = 'jsk_pcl_ros'

from dynamic_reconfigure.parameter_generator_catkin import *;

from math import pi

gen = ParameterGenerator ()

gen.add("outlier_threshold", double_t, 0, "threshold to rmeove outliers", 0.01, 0.0, 0.1)
gen.add("min_inliers", int_t, 0, "the minimum number on a edge", 1000, 0, 100000)
gen.add("convex_area_threshold", double_t, 0, "minimum area of edge supporting face", 0.01, 0.0, 1.0)
gen.add("convex_edge_threshold", double_t, 0, "", 0.1, 0.0, 0.0)
gen.add("parallel_edge_distance_min_threshold", double_t, 0, "", 0.1, 0.0, 1.0)
gen.add("parallel_edge_distance_max_threshold", double_t, 0, "", 0.4, 0.0, 1.0)

exit (gen.generate (PACKAGE, "jsk_pcl_ros", "EdgebasedCubeFinder"))
