#!/usr/bin/env python

# set up parameters that we care about
PACKAGE = 'jsk_pcl_ros'

from dynamic_reconfigure.parameter_generator_catkin import *;

from math import pi

def addTopic(i, gen):
    gen.add ("enable_input_topic" + str(i), bool_t, 0, "enable the topic", False)
    gen.add ("input_topic" + str(i), str_t, 0, "topic to concatenate", "")
    
gen = ParameterGenerator ()
for i in range(20):
    addTopic(i, gen)
exit (gen.generate (PACKAGE, "jsk_pcl_ros", "LazyConcatenater"))
