<launch>
  <node pkg="mjpeg_server" type="mjpeg_server"
        name="mjpeg_server"
        output="screen"
        clear_params="true">
  </node>
  <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" /> -->
  <node name="roswww" pkg="roswww" type="webserver.py" />
  <node pkg="jsk_pcl_ros" type="draw_3d_circle.py"
        name="cluster00_drawer"
        output="screen"
        args="1 /cluster00 0.1 1 0 0" />
  <node pkg="jsk_pcl_ros" type="draw_3d_circle.py"
        name="cluster01_drawer"
        args="2 /cluster01 0.1 0 1 0" />
  <node pkg="jsk_pcl_ros" type="draw_3d_circle.py"
        name="cluster02_drawer"
        args="3 /cluster02 0.1 0 0 1" />
  <node pkg="image_view2" type="image_view2" name="image_view2"
        respawn="true">
    <remap from="image" to="/camera/rgb/image_rect_color" />
    <remap from="camera_info" to="/camera/rgb/camera_info" />
  </node>
</launch>
