<launch>
  <!-- tfのフレームを出す -->
  <group ns="tf">
     <node pkg="tf" name="origin_to_camera_link"
           type="static_transform_publisher"
           args="0 0 1.65 1.57 1.57 0 /origin /camera_link 40" />

     <!-- <node pkg="tf" name="origin_to_camera_link" -->
     <!--       type="static_transform_publisher" -->
     <!--       args="0 0 2.3 0 1.57 0 /origin /camera_link 40" /> -->
     <node pkg="tf" name="origin_to_table_center"
           type="static_transform_publisher"
           args="0 0 0.115 0 0 0 /origin /table_center 40" />
  </group>
</launch>
