<launch>
  <node pkg="image_view2" type="image_view2" name="image_view2">
    <remap from="image" to="/usb_cam/image_raw" />
    <rosparam>
      interaction_mode: grabcut_rect
    </rosparam>
  </node>
  <node pkg="jsk_perception" type="apply_mask_image" name="apply">
    <remap from="~input" to="/usb_cam/image_raw" />
    <remap from="~input/mask" to="/usb_cam/image_raw/foreground" />
  </node>
  <node pkg="jsk_perception" type="unapply_mask_image" name="unapply">
    <remap from="~input" to="apply/output" />
    <remap from="~input/mask" to="/usb_cam/image_raw/foreground" />
  </node>
  <node pkg="image_view" type="image_view" name="foreground_mask_view">
    <remap from="image" to="/usb_cam/image_raw/foreground" />
  </node>
  <node pkg="image_view" type="image_view" name="applied_foreground_view">
    <remap from="image" to="apply/output"/>
  </node>
  <node pkg="image_view" type="image_view" name="unapplied_foreground_view">
    <remap from="image" to="unapply/output"/>
  </node>
</launch>
