<launch>

  <arg name="INPUT_IMAGE" />

  <node name="selective_search"
        pkg="jsk_perception" type="selective_search.py">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />
  </node>

  <node name="fast_rcnn"
        pkg="jsk_perception" type="fast_rcnn.py">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />
    <remap from="~input/rect_array" to="selective_search/output" />
    <rosparam>
      model: vgg_cnn_m_1024
    </rosparam>
  </node>

</launch>
