<launch>
  <node type="prosilica_node" pkg="prosilica_camera" name="prosilica"/>
  
  <node type="nodelet" pkg="nodelet" name="fisheye_manager" args="manager"/>
  <node type="nodelet" pkg="nodelet" name="fisheye_to_panorama"
	args="load jsk_perception/FisheyeToPanorama fisheye_manager" output="screen">
    <remap from="~input" to="/camera/image_raw"/>
    <remap from="~input_camera_info" to="/camera/camera_info"/>
  </node>
  <!-- <node type="image_view2" pkg="image_view2" name="fisheye_image_view2"> -->
  <!--   <remap from="image" to="/camera/omni/image_raw"/> -->
  <!-- </node> -->
  <!-- <node type="image_view2" pkg="image_view2" name="undistorted_image_view2"> -->
  <!--   <remap from="image" to="/fisheye_to_panorama/output_bilinear"/> -->
  <!-- </node> -->
</launch>