<launch>
  <node pkg="image_view2" type="image_view2" name="image_view2">
    <remap from="image" to="/capture_stereo_synchronizer/output/left_image" />
    <rosparam>
      interaction_mode: grabcut
    </rosparam>
  </node>
  <node pkg="jsk_perception" type="grabcut" name="grabcut">
    <remap from="~input" to="/capture_stereo_synchronizer/output/left_image" />
    <remap from="~input/foreground" to="/capture_stereo_synchronizer/output/left_image/foreground" />
    <remap from="~input/background" to="/capture_stereo_synchronizer/output/left_image/background" />
  </node>
  <node pkg="image_view" type="image_view" name="foreground_mask">
    <remap from="image" to="/capture_stereo_synchronizer/output/left_image/foreground" />
  </node>
  <node pkg="image_view" type="image_view" name="background_mask">
    <remap from="image" to="/capture_stereo_synchronizer/output/left_image/background" />
  </node>
  <node pkg="image_view" type="image_view" name="foreground">
    <remap from="image" to="/grabcut/output/foreground" />
  </node>
  <node pkg="image_view" type="image_view" name="background">
    <remap from="image" to="/grabcut/output/background" />
  </node>
</launch>
