<launch>
  <arg name="sparse_image" default="sparse/image"/>
  <arg name="sparse/image_decoded" default="edge/image_decoded"/>

  <node pkg="jsk_perception" type="sparse_image_decoder" name="sparse_image_decoder"
        output="screen">
    <remap from="sparse_image" to="$(arg sparse_image)" />
    <remap from="sparse/image_decoded" to="$(arg sparse/image_decoded)" />
  </node>
</launch>
