<launch>
  <!-- range image proc -->
  <node name="range_proc" pkg="image_proc" type="image_proc"
	output="screen" clear_params="true" ns="kinect/ir">
  </node>
  <!-- synchronize -->
  <node name="sync_node"
	pkg="stereo_synchronizer"
	type="stereo_synchronizer"
	output="screen" clear_params="true">
    <remap from="left_raw/image_raw" to="wide_stereo/left/image_rect" />
    <remap from="left_raw/camera_info" to="wide_stereo/left/camera_info" />
    <!--
    <remap from="right_raw/image_raw" to="kinect/ir/image_rect" />
    <remap from="right_raw/camera_info" to="kinect/ir/camera_info" />
    -->
    <remap from="left" to="calib_sync/left" />
    <remap from="right_raw/image_raw" to="kinect/rgb/image_rect_color" />
    <remap from="right_raw/camera_info" to="kinect/rgb/camera_info" />
    <remap from="right" to="calib_sync/range" />
  </node>
  <!-- calibration node -->
  <node name="cr_calib"
	pkg="cr_calibration"
	type="cr_calibration.py"
	args="--size 8x6 --square 0.108"
	output="screen" clear_params="true"
	ns="calib_sync">
    <remap from="left/image_rect" to="left/image_raw" />
    <remap from="range/image_rect" to="range/image_raw" />
  </node>
</launch>
