<launch>
  <node pkg="topic_tools" type="throttle"
        name="img_throttle" ns="/multisense_sl/camera/left"
        args="messages image_rect 2.0"/>

  <node pkg="topic_tools" type="throttle"
        name="img_throttle" ns="/sandia_hands/l_hand/camera/left"
        args="messages image_rect 2.0"/>

  <node pkg="topic_tools" type="throttle"
        name="img_throttle" ns="/sandia_hands/r_hand/camera/left"
        args="messages image_rect 2.0"/>

  <node pkg="resized_imagetransport" type="image_resizer" name="head_resized"
        output="screen" >
    <remap from="camera" to="/multisense_sl/camera/left" />
    <remap from="image_type" to="image_rect_throttle" />
    <param name="resize_scale_x" value="0.4" />
    <param name="resize_scale_y" value="0.4" />
    <param name="use_snapshot" value="true" />
  </node>

  <node pkg="resized_imagetransport" type="image_resizer" name="lhand_resized"
        output="screen" >
    <remap from="camera" to="/sandia_hands/l_hand/camera/left" />
    <remap from="image_type" to="image_rect_throttle" />
    <param name="resize_scale_x" value="0.4" />
    <param name="resize_scale_y" value="0.4" />
    <param name="use_snapshot" value="true" />
  </node>

  <node pkg="resized_imagetransport" type="image_resizer" name="rhand_resized"
        output="screen" >
    <remap from="camera" to="/sandia_hands/r_hand/camera/left" />
    <remap from="image_type" to="image_rect_throttle" />
    <param name="resize_scale_x" value="0.4" />
    <param name="resize_scale_y" value="0.4" />
    <param name="use_snapshot" value="true" />
  </node>

</launch>