<launch>
  <arg name="USE_SNAPSHOT" default="true" />
  <arg name="USE_THROTTLE" default="true" />

  <arg name="THROTTLE_RATE" default="2.0" />
  <arg name="THROTTLE_RESIZE_RATE" default="0.25" />
  <arg name="THROTTLE_IMAGE_TYPE" default="image_rect" />
  <arg name="SNAPSHOT_RESIZE_RATE" default="0.25" />
  <arg name="SNAPSHOT_IMAGE_TYPE" default="image_rect" />

  <group if="$(arg USE_THROTTLE)" >
    <node pkg="topic_tools" type="throttle"
          name="img_throttle" ns="/multisense_sl/camera/left"
          args="messages image_rect $(arg THROTTLE_RATE)"/>
    <node pkg="topic_tools" type="throttle"
          name="img_throttle" ns="/sandia_hands/l_hand/camera/left"
          args="messages image_rect $(arg THROTTLE_RATE)"/>
    <node pkg="topic_tools" type="throttle"
          name="img_throttle" ns="/sandia_hands/r_hand/camera/left"
          args="messages image_rect $(arg THROTTLE_RATE)"/>
    <node pkg="resized_imagetransport" type="image_resizer" name="head_resized"
          output="screen" >
      <remap from="camera" to="/multisense_sl/camera/left" />
      <remap from="image_type" to="$(arg THROTTLE_IMAGE_TYPE)" />
      <param name="resize_scale_x" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="use_snapshot" value="false" />
    </node>
    <node pkg="resized_imagetransport" type="image_resizer" name="lhand_resized"
          output="screen" >
      <remap from="camera" to="/sandia_hands/l_hand/camera/left" />
      <remap from="image_type" to="$(arg THROTTLE_IMAGE_TYPE)" />
      <param name="resize_scale_x" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="use_snapshot" value="false" />
    </node>
    <node pkg="resized_imagetransport" type="image_resizer" name="rhand_resized"
          output="screen" >
      <remap from="camera" to="/sandia_hands/r_hand/camera/left" />
      <remap from="image_type" to="$(arg THROTTLE_IMAGE_TYPE)" />
      <param name="resize_scale_x" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="use_snapshot" value="false" />
    </node>
  </group>

  <group if="$(arg USE_SNAPSHOT)" >
    <node pkg="resized_imagetransport" type="image_resizer" name="head_snap"
          output="screen" >
      <remap from="camera" to="/multisense_sl/camera/left" />
      <remap from="image_type" to="$(arg SNAPSHOT_IMAGE_TYPE)" />
      <param name="resize_scale_x" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="use_snapshot" value="true" />
    </node>
    <node pkg="resized_imagetransport" type="image_resizer" name="lhand_snap"
          output="screen" >
      <remap from="camera" to="/sandia_hands/l_hand/camera/left" />
      <remap from="image_type" to="$(arg SNAPSHOT_IMAGE_TYPE)" />
      <param name="resize_scale_x" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="use_snapshot" value="true" />
    </node>
    <node pkg="resized_imagetransport" type="image_resizer" name="rhand_snap"
          output="screen" >
      <remap from="camera" to="/sandia_hands/r_hand/camera/left" />
      <remap from="image_type" to="$(arg SNAPSHOT_IMAGE_TYPE)" />
      <param name="resize_scale_x" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="use_snapshot" value="true" />
    </node>
  </group>
</launch>