<launch>

  <arg name="filename" default="$(find jsk_perception)/audio_to_spectrogram/sample_audio.bag" />
  <param name="use_sim_time" value="true" />
  <node name="rosbag_play"
        pkg="rosbag" type="play"
        args="$(arg filename) --clock --loop"/>

  <node pkg="jsk_perception" type="audio_to_spectrogram.py" name="audio_to_spectrogram" >
    <!-- for fetch and PR2 -->
    <remap from="~audio" to="/audio" />
    <rosparam>
      <!-- for respeaker_ros -->
      <!-- TODO fetch these params from respeaker_ros via rosparam -->
      sampling_rate: 16000
      sampling_period: 0.5
      bitdepth: 16
      high_cut_freq: 800
      low_cut_freq: 0
      spectrogram_period: 10
      frame_per_buffer: 1024
    </rosparam>
  </node>

  <!-- you can get jet image from /spectrogram_view/output-->
  <node pkg="image_view" type="image_view" name="spectrogram_view"  >
    <remap from="image" to="/audio_to_spectrogram/spectrogram" />
    <rosparam>
      <!-- set all pixels between 0 and 1 -->
      do_dynamic_scaling: true
      <!-- use jet colormap -->
      colormap: 2
    </rosparam>
  </node>

</launch>
