<launch>
  <arg name="manager" default="camera_nodelet_manager" />
  <arg name="input_point" default="/camera/depth_registered/points" />
  <arg name="create_manager" default="true" />

  <group ns="pcl_nodelet">
     <node if="$(arg create_manager)"
          pkg="nodelet" type="nodelet" name="$(arg manager)"
          args="manager" output="screen"/>
     <node pkg="nodelet" type="nodelet"
          name="voxelgrid"
          args="load pcl/VoxelGrid $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="$(arg input_point)" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: 0.0
        filter_limit_max: 5.0
        leaf_size: 0.01
      </rosparam>
    </node>
     <node pkg="nodelet" type="nodelet"
          name="clustering"
          args="load jsk_pcl/EuclideanClustering $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/voxelgrid/output" />
      <rosparam>
         tolerance: 0.1
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet"
          name="cluster_decomposer"
          args="load jsk_pcl/ClusterPointIndicesDecomposerZAxis $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/voxelgrid/output" />
      <remap from="~target" to="/pcl_nodelet/clustering/output" />
      <rosparam>
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher00"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output00" />
      <rosparam>
        frame: cluster00
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher01"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output01" />
      <rosparam>
        frame: cluster01
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher02"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output02" />
      <rosparam>
        frame: cluster02
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher03"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output03" />
      <rosparam>
        frame: cluster03
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher04"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output04" />
      <rosparam>
        frame: cluster04
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher05"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output05" />
      <rosparam>
        frame: cluster05
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher06"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output06" />
      <rosparam>
        frame: cluster06
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher07"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output07" />
      <rosparam>
        frame: cluster07
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher08"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output08" />
      <rosparam>
        frame: cluster08
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="centroid_publisher09"
          args="load jsk_pcl/CentroidPublisher $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="/pcl_nodelet/cluster_decomposer/output09" />
      <rosparam>
        frame: cluster09
      </rosparam>
    </node>

  </group>                      <!-- pcl_nodelet -->
</launch>
