<launch>
  <arg name="NAMESPACE" default="multiresolution_pointcloud" />
  <arg name="INPUT" default="/multisense/organized_image_points2_color" />
  <arg name="INPUT_DEPTH" default="/multisense/depth" />
  <arg name="RUN_MANAGER" default="true" />
  <arg name="MANAGER" default="manager" />
  <arg name="NODELET_INDEX" default="0" />
  <group ns="$(arg NAMESPACE)">
    <node pkg="jsk_topic_tools" type="standalone_complexed_nodelet" name="$(arg MANAGER)"
          output="screen"
          if="$(arg RUN_MANAGER)"/>
    <group ns="$(arg MANAGER)"> <!-- to use same nodelet as images -->
      <rosparam subst_value="true">
        nodelets_$(arg NODELET_INDEX):
          - name: resize_1_1
            type: jsk_topic_tools/Relay
            remappings:
              - from: ~input
                to: $(arg INPUT)
              - from: ~output
                to: ~points
          - name: resize_1_2
            type: jsk_pcl/ResizePointsPublisher
            remappings:
              - from: ~input
                to: resize_1_1/points
              - from: ~output
                to: ~points
          - name: resize_1_4
            type: jsk_pcl/ResizePointsPublisher
            remappings:
              - from: ~input
                to: resize_1_1/points
              - from: ~output
                to: ~points
          - name: resize_1_8
            type: jsk_pcl/ResizePointsPublisher
            remappings:
              - from: ~input
                to: resize_1_1/points
              - from: ~output
                to: ~points
          - name: resize_1_1/depth_relay
            type: jsk_topic_tools/Relay
            remappings:
              - from: ~input
                to: $(arg INPUT_DEPTH)
              - from: ~output
                to: depth
          - name: resize_1_2/depth_resizer
            type: resized_image_transport/ImageResizer
            remappings:
              - from: ~input/image
                to: /$(arg NAMESPACE)/resize_1_1/depth
              - from: ~output/image
                to: depth
          - name: resize_1_4/depth_resizer
            type: resized_image_transport/ImageResizer
            remappings:
              - from: ~input/image
                to: /$(arg NAMESPACE)/resize_1_1/depth
              - from: ~output/image
                to: depth
          - name: resize_1_8/depth_resizer
            type: resized_image_transport/ImageResizer
            remappings:
              - from: ~input/image
                to: /$(arg NAMESPACE)/resize_1_1/depth
              - from: ~output/image
                to: depth
      </rosparam>
    </group>
    <!-- PointClouds -->
    <group ns="resize_1_2">
      <rosparam>
        step_x: 2
        step_y: 2
      </rosparam>
    </group>
    <group ns="resize_1_4">
      <rosparam>
        step_x: 4
        step_y: 4
      </rosparam>
    </group>
    <group ns="resize_1_8">
      <rosparam>
        step_x: 8
        step_y: 8
      </rosparam>
    </group>
    <!-- Depth Images -->
    <group ns="resize_1_2">
      <group ns="depth_resizer">
        <rosparam>
          use_camera_info: false
          resize_scale_x: 0.5
          resize_scale_y: 0.5
        </rosparam>
      </group>
    </group>
    <group ns="resize_1_4">
      <group ns="depth_resizer">
        <rosparam>
          use_camera_info: false
          resize_scale_x: 0.25
          resize_scale_y: 0.25
        </rosparam>
      </group>
    </group>
    <group ns="resize_1_8">
      <group ns="depth_resizer">
        <rosparam>
          use_camera_info: false
          resize_scale_x: 0.125
          resize_scale_y: 0.125
        </rosparam>
      </group>
    </group>
  </group>
</launch>
