<launch>
  <arg name="camera" default="openni" />
  <arg name="camera_remote" default="camera_remote" />
  <arg name="rgb_camera_info_url"   default="" />
  <arg name="depth_camera_info_url" default="" />
  <group>			<!--group only for remapping-->
    <remap from="/$(arg camera_remote)/depth/image_raw" 
	   to="/$(arg camera)/depth/image_raw"/>
    <remap from="/$(arg camera_remote)/depth/camera_info" 
	   to="/$(arg camera)/depth/camera_info"/>
    <remap from="/$(arg camera_remote)/depth/image_rect_raw"
	   to="/$(arg camera)/depth/image_rect_raw"/>

    <remap from="/$(arg camera_remote)/depth_registered/image_raw"
	   to="/$(arg camera)/depth_registered/image_raw"/>
    <remap from="/$(arg camera_remote)/rgb/image_raw"
	   to="/$(arg camera)/rgb/image_raw"/>
    <remap from="/$(arg camera_remote)/rgb/camera_info"
	   to="/$(arg camera)/rgb/camera_info"/>
    <remap from="/$(arg camera_remote)/depth_registered/hw_registered/image_rect_raw"
	   to="/$(arg camera)/depth_registered/hw_registered/image_rect_raw"/>

    <include file="$(find openni_launch)/launch/openni.launch">
      <arg name="publish_tf" value="false" />
      <arg name="camera" value="$(arg camera_remote)" />
      <arg name="depth_registration" value="true" />
      <arg name="load_driver" value="false" />
      <arg name="rgb_camera_info_url" value="$(arg rgb_camera_info_url)" />
      <arg name="depth_camera_info_url" value="$(arg depth_camera_info_url)" />
    </include>
  </group>
</launch>
