<launch>
  <arg name="camera" default="camera" />
  <arg name="camera_remote" default="camera_remote" />
  <arg name="rgb_camera_info_url"   default="" />
  <arg name="depth_camera_info_url" default="" />

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="publish_tf" value="false" />
    <arg name="camera" value="$(arg camera_remote)" />
    <arg name="depth_registration" value="true" />
    <arg name="load_driver" value="false" />
    <arg name="rgb_camera_info_url" value="$(arg rgb_camera_info_url)" />
    <arg name="depth_camera_info_url" value="$(arg depth_camera_info_url)" />
  </include>

  <!-- camera_info and image relaying -->
  <group ns="$(arg camera_remote)">
    <group ns="rgb">
      <node pkg="topic_tools"
	    type="relay"
	    name="relay_camera_info"
	    args="/$(arg camera)/rgb/camera_info /$(arg camera_remote)/rgb/camera_info" />
      <node pkg="topic_tools"
	    type="relay"
	    name="relay_image_raw"
	    args="/$(arg camera)/rgb/image_raw /$(arg camera_remote)/rgb/image_raw" />
    </group>
    <group ns="depth">
      <node pkg="topic_tools"
	    type="relay"
	    name="relay_camera_info"
	    args="/$(arg camera)/depth/camera_info /$(arg camera_remote)/depth/camera_info" />
      <node pkg="topic_tools"
	    type="relay"
	    name="relay_image_raw"
	    args="/$(arg camera)/depth/image_raw /$(arg camera_remote)/depth/image_raw" />

    </group>
  </group>
</launch>
