<launch>
  <arg name="INPUT" default="/camera/depth_registered/points" />
  <node pkg="nodelet" type="nodelet" name="manager"
        args="manager"
        alaunch-prefix="xterm -e gdb --args"
        output="screen"/>
  <node pkg="nodelet" type="nodelet" name="normal_estimate"
        args="load pcl/NormalEstimationOMP manager"
        clear_params="true">
    <remap from="~input" to="$(arg INPUT)" />
    <!-- <remap from="~output" to="/normal_concat/input" /> -->
    <rosparam>
      radius_search: 0
      k_search: 240
      # 0, => ANN, 1 => FLANN, 2 => Organized
      spatial_locator: 2
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet" name="normal_concat"
        args="load jsk_pcl/NormalConcatenater manager"
        clear_params="false">
    <remap from="~input" to="$(arg INPUT)"/>
    <remap from="~normal" to="/normal_estimate/output"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="multi_plane_estimate"
        args="load jsk_pcl/OrganizedMultiPlaneSegmentation manager"
        clear_params="false">
    <remap from="~input" to="/normal_concat/output"/>
  </node>
  <node pkg="nodelet" type="nodelet"
        name="cluster_decomposer"
        args="load jsk_pcl/ClusterPointIndicesDecomposer manager"
        output="screen" clear_params="true">
    <remap from="~input" to="/normal_concat/output" />
    <remap from="~target" to="/multi_plane_estimate/output" />
    <rosparam>
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet"
        name="cluster_decomposer2"
        args="load jsk_pcl/ClusterPointIndicesDecomposer manager"
        output="screen" clear_params="true">
    <remap from="~input" to="/normal_concat/output" />
    <remap from="~target" to="/multi_plane_estimate/output_nonconnected" />
    <rosparam>
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet"
        name="plane_extraction"
        args="load jsk_pcl/MultiPlaneExtraction manager"
        output="screen" clear_params="true">
    <remap from="~input" to="/normal_concat/output" />
    <remap from="~indices" to="/multi_plane_estimate/output" />
    <remap from="~input_polygons" to="/multi_plane_estimate/output_polygon" />
    <remap from="~input_coefficients" to="/multi_plane_estimate/output_coefficients" />
  </node>
  
    <node pkg="nodelet" type="nodelet" name="euclidean_clustering"
          args="load jsk_pcl/EuclideanClustering /manager" output="screen">
      <remap from="~input" to="/plane_extraction/output" />
      <rosparam>
        tolerance: 0.02
        min_size: 500
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet"
          name="cluster_decomposer_final"
          args="load jsk_pcl/ClusterPointIndicesDecomposerZAxis /manager"
          output="screen" clear_params="true">
      <remap from="~input" to="/plane_extraction/output" />
      <remap from="~target" to="/euclidean_clustering/output" />
      <rosparam>
      </rosparam>
    </node>

</launch>
