<launch>
  <group ns="checkerdetector" clear_params="true">
    <param name="display" type="int" value="0"/>
    <!--param name="frame_id" type="string" value="stereo_link"/-->
    <param name="rect0_size_x" type="double" value="0.03"/>
    <param name="rect0_size_y" type="double" value="0.03"/>
    <param name="grid0_size_x" type="int" value="6"/>
    <param name="grid0_size_y" type="int" value="5"/>
    <param name="type0" type="string" value="data/ricebox.kinbody.xml"/>
    <node pkg="checkerboard_detector" name="checkerboard_detector"
          type="checkerboard_detector" respawn="false"
          output="log">
      <remap from="image" to="/openni_c2/rgb/image_rect_color" />
      <remap from="camera_info" to="/openni_c2/rgb/camera_info" />
    </node>
  </group>

  <include file="./visualize_plane_distance.launch">
    <arg name="namespace" value="kinect_error" />
    <arg name="input" value="/openni_c2/depth_registered/points" />
  </include>
  <include file="./visualize_plane_distance.launch">
    <arg name="namespace" value="tilt_error" />
    <arg name="input" value="/tilt_scan_shadow_filtered" />
  </include>
  <include file="./visualize_plane_distance.launch">
    <arg name="namespace" value="narrow_stereo_error" />
    <arg name="input" value="/narrow_stereo/points2" />
  </include>  
</launch>