<launch>
  <arg name="MANAGER" />
  <arg name="USE_COMPRESS" default="true" />
  <arg name="COMPRESSED_TYPE" default="compressed" />
  <arg name="INPUT_LEFT_IMAGE" />
  <arg name="INPUT_LEFT_CAMERA_INFO" />
  <arg name="INPUT_DEPTH" />

  <!-- Relay camera_info -->
  <node pkg="nodelet" type="nodelet" name="left_camera_info_relay"
        args="load jsk_topic_tools/Relay $(arg MANAGER)">
    <remap from="~input" to="$(arg INPUT_LEFT_CAMERA_INFO)" />
    <remap from="~output" to="left/camera_info" />
  </node>
  
  <!-- Prepare images -->
  
  <group unless="$(arg USE_COMPRESS)">
    <node pkg="nodelet" type="nodelet" name="left_image_rect_color_relay"
          args="load jsk_topic_tools/Relay $(arg MANAGER)">
      <remap from="~input" to="$(arg INPUT_LEFT_IMAGE)" />
      <remap from="~output" to="left/image_rect_color" />
    </node>
  </group>
  <!-- If compressed image used, realy /compressed images and republish them -->
  <group if="$(arg USE_COMPRESS)">
    <node pkg="nodelet" type="nodelet" name="left_image_rect_color_relay"
          args="load jsk_topic_tools/Relay $(arg MANAGER)">
      <remap from="~input" to="$(arg INPUT_LEFT_IMAGE)/$(arg COMPRESSED_TYPE)" />
      <remap from="~output" to="left/image_rect_color_compressed/$(arg COMPRESSED_TYPE)" />
    </node>
    <node pkg="image_transport" type="republish" name="left_image_rect_color_decompress" args="$(arg COMPRESSED_TYPE)">
      <remap from="in" to="left/image_rect_color_compressed" />
      <remap from="out" to="left/image_rect_color" />
      <remap from="left/image_rect_color_decompressed" to="left/image_rect_color"/>
    </node>
  </group>

  <!-- PointCloud -->
  <node pkg="nodelet" type="nodelet" name="point_cloud_xyz"
        args="load depth_image_proc/point_cloud_xyz $(arg MANAGER)">
    <remap from="camera_info" to="left/camera_info" />
    <remap from="image_rect" to="$(arg INPUT_DEPTH)" />
    <remap from="points" to="organized_image_points2" />
    <rosparam>
      queue_size: 100
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb"
        args="load depth_image_proc/point_cloud_xyzrgb $(arg MANAGER)">
    <remap from="rgb/camera_info" to="left/camera_info" />
    <remap from="rgb/image_rect_color" to="left/image_rect_color" />
    <remap from="depth_registered/image_rect" to="$(arg INPUT_DEPTH)" />
    <remap from="depth_registered/points" to="organized_image_points2_color" />
    <rosparam>
      queue_size: 100
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet" name="point_relay"
        args="load jsk_topic_tools/Relay $(arg MANAGER)">
    <remap from="~input" to="organized_image_points2_color" />
    <remap from="~output" to="points" />
  </node>
</launch>
