<launch>
  <arg name="classification" default="false"/>
  <arg name="rqt" default="false"/>

  <!-- publish sound topics from microphone -->
  <include file="$(find sound_classification)/launch/microphone.launch" >
    <arg name="classification" value="$(arg classification)"/>
    <arg name="rqt" value="$(arg rqt)"/>
  </include>

  <!-- save noise sound for 3 seconds -->
  <node pkg="sound_classification" type="save_noise_sound.py" name="save_noise_sound" output="screen" respawn="false" />

</launch>
